*{
    font-family: 'Lexend Deca';
    font-style: normal;
}

.registerRectangle{
    height: 500px;
    width: 450px;
    background-color: #1B263B;
    border-radius: 10px;
    row-gap: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}

.register-title{
    font-style: normal;
    font-size: 34px;
    color: #FFFFFF;
}

.username, .email-section, .password-section{
    font-style: normal;
    font-size: 25px;
    color: #FFFFFF;
}

.usInput, .emInput, .password{
    font-size: 3.5vh;
    height: 60px;
    width: 300px;
    border-radius: 8px;
    display: flex;
    background-color: #D9D9D9;
    padding-left: 20px;
}

.buttonRegister{
    font-size: 3.5vh;
    height: 60px;
    width: 300px;
    border-radius: 8px;
    color: #FFFFFF;
    background-color: #008000;
    cursor: pointer;
    border: none;
    margin-top: 1vh;
}